@media (max-width: 768px){
    header{
        .buttons{
            display: none;
        }
        nav{
            display: none;
        }
    }
    .toggle{
        display: block !important;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        background-color: transparent;
        width: fit-content;
        border: none;
        z-index: 10;
    }
}