@use "../../helper/variables" as *;
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hidden{
    display: none !important;
}
header{
    ul{
        list-style: none;
        gap: 10px;
        text-transform: capitalize;
        .bar::selection{
            display: none;
        }
        li{
            cursor: pointer;
            a{
                text-decoration: none;
                color: var(--Almost-Black);
            }
        }
    }
    .buttons{
        gap: 10px;
        button.log-in,
        button.sign-in{
            width: 80px;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
        }
        button.log-in{
            border: none;
            text-transform: capitalize;
        }
    }
    .toggle{
        display: none;
    }
    ul.bar,
    ul.bar1{
        background-color: var(--Almost-White);
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: absolute;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
    }
    ul.bar1{
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
