:root {
  --Orange: #ff7d1a;
  --Pale-orange: #ffede0;
  --Very-dark-blue: #1a1f29;
  --Dark-grayish-blue: #5f6d86;
  --Grayish-blue: #b6bcc9;
  --Light-grayish-blue: #fafafa;
  --White: #ffffff;
  --Black: #000000;
  --Black-white: hsla(0, 0%, 0%, 0.75);
}

header {
  width: 100%;
  background-color: var(--White);
  height: 70px;
  padding-bottom: 10px;
}
header img.logo {
  width: 130px;
  height: 50px;
  margin-left: 20px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
header img.logo:hover {
  border: none;
}
header img + span {
  color: var(--White);
  background-color: var(--Orange);
  width: 15px;
  height: 13px;
  text-align: center;
  position: absolute;
  left: 94%;
  top: 23px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
header nav ul {
  gap: 20px;
  list-style: none;
}
header nav ul li {
  text-transform: capitalize;
}
header nav ul a {
  text-decoration: none;
  color: var(--Grayish-blue);
  font-weight: 400;
  font-size: 17px;
}
header nav ul a:hover {
  color: black;
}
header nav ul a:hover::before {
  content: "";
  position: absolute;
  top: 94px;
  width: 60px;
  height: 4px;
  background-color: var(--Orange);
}
header div {
  background-color: transparent !important;
  gap: 20px;
}
header div > img {
  width: 60px;
  cursor: pointer;
  height: 60px;
  border: 1px solid var(--White);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header div > img:hover {
  border: 1px solid var(--Orange);
}
header div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header div button img {
  width: 25px;
}
header div button.toggle {
  width: 30px;
  display: none;
}

hr {
  width: 90%;
}

@media (min-width: 412px) and (max-width: 790px) {
  header {
    height: 60px;
    padding-bottom: 0px;
  }
  header button.toggle {
    display: block !important;
  }
  header nav {
    display: none;
  }
  header header > div {
    width: 160px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: nowrap;
  }
  header .toggle {
    position: relative;
    top: 7px;
  }
  header div.logo {
    gap: 0px;
  }
  header .logo {
    height: 200px;
    width: 140px;
  }
  header div > button,
  header div button + img {
    width: 50px;
    height: 50px;
  }
  header div img.logo {
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
}
@media (max-width: 411px) {
  header {
    width: 100%;
    height: 50px;
    padding-bottom: 0px;
  }
  header button.toggle {
    display: block !important;
  }
  header nav {
    display: none;
  }
  header img + span {
    left: 74%;
    top: 15px;
  }
  header header > div {
    width: 160px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: nowrap;
  }
  header .toggle {
    position: relative;
    top: 7px;
  }
  header div.logo {
    gap: 10px;
  }
  header .logo {
    height: 200px;
    width: 140px;
  }
  header div > button,
  header div button + img {
    width: 50px;
    height: 50px;
  }
  header div img.logo {
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
  hr {
    width: 140%;
    position: relative;
    left: 20px;
  }
}
.responsive {
  width: 50%;
  background: var(--Light-grayish-blue);
  height: 100vh;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}
.responsive button {
  padding-top: 26px;
  border: none;
  background-color: transparent;
  outline: none;
}
.responsive button .Xmark {
  width: 20px;
  position: absolute;
  height: 20px;
  left: 17px;
  cursor: pointer;
  color: var(--Dark-grayish-blue);
}
.responsive ul {
  list-style: none;
  line-height: 38px;
  position: absolute;
  left: -10%;
  top: 50px;
}
.responsive ul li a {
  text-transform: capitalize;
  color: var(--Black);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.5px;
}/*# sourceMappingURL=Header.css.map */